/* opus-additions.css: -*- CSS -*-  DESCRIPTIVE TEXT.*/

/* Copyright (c) 2016 Brian J. Fox
    Author: Brian J. Fox (bfox@opuslogica.com) Thu Sep  1 12:14:51 2016. */

.bg-primary {
    background: white;
    -webkit-background: linear-gradient(#ddd,#fff);
    background: linear-gradient(#ddd,#fff);
}

.download {
    background: #999;
    -webkit-background: linear-gradient(#999,#333);
    background: linear-gradient(#999,#333);
    color: white;
}

.FAQ {
    background: #999;
    -webkit-background: linear-gradient(#999,#333);
    background: linear-gradient(#999,#333);
    color: white;
}

.navbar.navbar-fixed-top {
    background-color: #bbb;
    z-index:1000;
}

.device-container.smaller {
    max-width: 200px !important;
    max-height: 400px !important;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: black;
  background-color: lightblue;
  border-color: lightblue;
}

header {
    background: linear-gradient(#ddd,#fff);
    -webkit-background: linear-gradient(#ddd,#fff);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #333;
    position: relative;
    //    top: 50px; left: 0px;
}

header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .device-column {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .device-column .device-container {
  max-height: 80%;
  width: 100%;
  max-width: 400px;
  margin: 0;
}

.logotype {
    cursor: pointer;
    margin-top: 10px;
    line-height: 0px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 6px;
    color: black;
    font-size: 110%;
    display: block;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
  header .header-content {
    text-align: center;
  }

  div.cta-content div.container h2 { font-size: 70px; }
  .navbar-default .nav>li>a,
  .navbar-default .nav>li>a:focus {
      color: #333;
  }
  div.FAQ-content div.container h2 { font-size: 70px; }
  .navbar-default .nav>li>a,
  .navbar-default .nav>li>a:focus {
      color: #333;
  }
}

section#contact { padding: 50px 0px; }
#contact .brought-to-you-by {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    background: #666;
    font-size: 125%;
    color: #ddd;
}

#contact .brought-to-you-by ul {
    list-style: none;
}
#contact .brought-to-you-by ul li {
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    width: 220px;
    border: 1px solid white;
    cursor: pointer;
    background: #555;
}

#contact .brought-to-you-by ul li:hover {
    background: #ddd;
    color: #333;
}

.feature-item { cursor: pointer; }
section.cta {
  background-image: url('../img/background.jpg');
}

.video-container { margin-top: 10px; }
.btn-xl { font-size: 140%; }
